:root{
    --primary-color: rgba(7, 43, 250, 0.774);
    --secondary-color: rgb(238, 28, 0);
    --dark-color: rgba(33, 21, 138, 0.678);
    --white-color: #fdc3a8;
}

body{
    color: var(--dark-color);
    font-family: 'Open Sans';
}

nav{
    background-color: var(--secondary-color);
    font-family: 'Luckiest Guy';
}

footer{
    background-color: var(--secondary-color);
    font-family: 'Luckiest Guy';
}

h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
}

h1,h2{
    font-family: 'Luckiest Guy';
}

h3,h4,h5,h6{
    font-family: 'Open Sans';
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon{
    color:red;
}

.jsicon{
    color: blue;
}

.html5icon{
    color: orangered;
}

.css3icon{
    color:blueviolet;
}

.checklist >li i{
    color: var(--secondary-color);
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

main>.container {
    padding: 60px 15px 0;
}

.btnCustom{
    font-family: 'Luckiest Guy';
    background-color: var(--primary-color);
    color: white;
}

.btnCustom:hover{
    background-color: var(--secondary-color);
    color: white;
}

.calcBox{
    background-color: lightgrey;
}

.customTable{

    font-family: 'luckiest guy';
    font-weight: 200;
}



.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}